# Node modules
/node_modules/

# NPM package lock
/package-lock.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (jika ada)
.env

# Cache folder
/.cache/

# Puppeteer specific files
/.puppeteer/

# OS specific files
.DS_Store
Thumbs.db

# Optional: Ignoring any other personal files
*.log
